body{
    background-color: firebrick;
}
#Login{
    background-color: azure;
    width: 600px;
    height: 600px;
    border: 5px solid black;
}
#alert {
    padding: 20px;
    background-color: chartreuse;
    color: white;
  }
  #closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }